:root {
  --main-bg-color: #226ed8;
  --main-color: #fafafa;
  --light-bg-color: #fafafa;
  --yellow: #fbb910;
  --light-yellow: #ffd569;
  --lighter-yellow: #fff5c0;
  --lightest-yellow: #fffcee;
  --white: #ffffff;
  --light-footer-color: #114fa7;
  --heart-color: #ffafaf;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.header .logo {
  height: 40px;
}

.header .title {
  font-size: 30px;
  font-weight: 700;
}

.header .mode-toggle {
  position: relative;
  width: 50px;
  height: 24px;
  border-radius: 45px;
  background: linear-gradient(
    to right,
    var(--yellow) 50%,
    var(--light-yellow) 100%
  );
}

.header .mode-toggle .icon {
  position: absolute;
  margin: 2px;
  border: var(--white) 2px solid;
  border-radius: 45px;
  font-size: 16px;
  background-color: var(--white);
  color: var(--yellow);
}

.main {
  height: calc(100vh - 150px);
  padding-top: 80px;
  background-color: var(--light-bg-color);
}

.quote {
  margin: 30px 44px;
  display: flex;
  flex-direction: column;
}

.quote .button {
  padding: 8px 22px;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--light-yellow);
}

.quote .button .icon-border {
  border: var(--lightest-yellow) 5px solid;
  border-radius: 45px;
}

.quote .button .icon {
  font-size: 24px;
  border: var(--lighter-yellow) 5px solid;
  border-radius: 45px;
  color: var(--yellow);
  background-color: var(--lighter-yellow);
}

.quote .button .label {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.quote .backdrop {
  visibility: collapse;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}

.quote .backdrop .quote-box {
  margin: auto 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.quote .backdrop .quote-header {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
}

.quote .backdrop .icon-border {
  border: var(--lightest-yellow) 5px solid;
  border-radius: 45px;
}

.quote .backdrop .icon-border .icon {
  font-size: 24px;
  border: var(--lighter-yellow) 5px solid;
  border-radius: 45px;
  color: var(--yellow);
  background-color: var(--lighter-yellow);
}

.quote .backdrop .label {
  margin: 0 auto 0 12px;
  font-size: 12px;
  font-weight: 700;
}

.quote .backdrop .close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-bg-color);
  border-radius: 45px;
  background-color: transparent;
}

.quote .backdrop .close .icon {
  font-size: 14px;
  border-radius: 45px;
  color: var(--main-bg-color);
}

.footer {
  /* width: 100%; */
  padding: 13px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-footer-color);
  color: var(--main-color);
}

.footer .description {
  margin: 0 20px 2px;
}

.footer .author {
  margin: 0 20px;
}

.footer .description a {
  text-decoration: none;
  color: var(--main-color);
}

.footer .author .heart {
  font-size: 16px;
  vertical-align: middle;
  color: var(--heart-color);
}

@media (min-width: 600px) {
  .main {
    width: 100%;
    height: calc(100vh - 130px);
  }

  .quote .button {
    visibility: collapse;
  }

  .quote .backdrop {
    visibility: visible;
    position: inherit;
    background-color: inherit;
  }

  .quote .backdrop .quote-box {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
  }

  .quote .backdrop .close {
    visibility: collapse;
  }

  .footer {
    padding: 14.5px 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer .description,
  .footer .author {
    margin: 0;
  }
}
